@model Plenum.Models.UserDataModel

@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css/style_screen.css")
    @Styles.Render("~/Content/css/style_print.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("~/Scripts/datepick/jquery.datepick.css")
    @Styles.Render("~/Content/css/jquery.fancybox.css")
</head>
<body>
    <div>

        <form id="editForm" method="post" enctype="multipart/form-data">

            <input id="ID" name="ID" type="hidden" value="@Model.ID.ToString()" />
            FirstName<br />
            @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "FirstName", value = Model.FirstName, type = "text", size = 30, options = "" }); }
            <br />

            <div class="field_details">
                30 characters
            </div>
            <br />
            LastName<br />
            @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "LastName", value = Model.LastName, type = "text", size = 30, options = "" }); }
            <br />

            <div class="field_details">
                30 characters
            </div>
            <br />
            Email<br />
            @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Email", value = Model.Email, type = "text", size = 64, options = "" }); }
            <br />

            <div class="field_details">
                64 characters
            </div>
            <br />
            Password<br />
            @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Password", value = Model.Password, type = "text", size = 45, options = "password" }); }
            <br />

            <div class="field_details">
                45 characters
            </div>
            <br />
            Picture<br />
            @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Picture", value = Model.Picture, type = "text", size = 100, options = "file" }); }
            <br />

            <div class="field_details">
                100 characters
            </div>
            <br />
            DateCreated<br />
            @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "DateCreated", value = Model.DateCreated, type = "date", size = 0, options = "readonly" }); }
            <br />


            <br />
            <input type="submit" value="Save" />
        </form>

        @Scripts.Render("~/Scripts/jquery.js")
        @Scripts.Render("~/Scripts/jquery.validate.min.js")
        @Scripts.Render("~/Scripts/datepick/jquery.plugin.min.js")
        @Scripts.Render("~/Scripts/datepick/jquery.datepick.min.js")
        @Scripts.Render("~/Scripts/jquery.fancybox.js")

        <script>

            $(document).ready(function () {                

                $('.fancybox').fancybox({
                    background: 'none'                    
                });

                //DatePick
                $(function () {

                    //if date is not readonly
                    if (!$('#DateCreated').is('[readonly]')) {
                        $('#DateCreated').datepick({ dateFormat: 'dd/mm/yyyy' });
                    }

                });

                $("#editForm").validate({
                    rules: {
                        FirstName: { required: true },
                        LastName: { required: true },
                        Email: { required: true },
                        Password: { required: true },

                    },
                    messages: {
                        FirstName: "FirstName is required",
                        LastName: "LastName is required",
                        Email: "Email is required",
                        Password: "Password is required",
                    }
                });

            });


        </script>

    </div>
</body>
</html>
