@model Plenum.Models.PagetypefieldDataModel

@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css/style_screen.css")
    @Styles.Render("~/Content/css/style_print.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("~/Scripts/datepick/jquery.datepick.css")
    @Styles.Render("~/Content/css/jquery.fancybox.css")
</head>
<body>
    <div>

        <form id="editForm" method="post" enctype="multipart/form-data">

            <input id="ID" name="ID" type="hidden" value="@Model.ID.ToString()" />
            Name<br />
            @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Name", value = Model.Name, type = "text", size = 50, options = "" }); }
            <br />

            <div class="field_details">
                50 characters
            </div>
            <br />
            Type<br />
            <select id="Type" name="Type">
                <option value="String" @(Model.Type == "String" ? "selected" : "")>String</option>
                <option value="LongString" @(Model.Type == "LongString" ? "selected" : "")>Long String > 255 caracteres</option>
                <option value="XMLString" @(Model.Type == "XMLString" ? "selected" : "")>XMLString</option>
                <option value="Int" @(Model.Type == "Int" ? "selected" : "")>Int</option>
                <option value="Double" @(Model.Type == "Double" ? "selected" : "")>Double</option>
                <option value="Date" @(Model.Type == "Date" ? "selected" : "")>Date</option>
                <option value="Reference" @(Model.Type == "Reference" ? "selected" : "")>Reference</option>
                <option value="ReferenceList" @(Model.Type == "ReferenceList" ? "selected" : "")>Reference List</option>
                <option value="Taxonomy" @(Model.Type == "Taxonomy" ? "selected" : "")>Taxonomy</option>
                <option value="Image" @(Model.Type == "Image" ? "selected" : "")>Image</option>
            </select>            
            <br />

            <div class="field_details">
                20 characters
            </div>
            <br />
            PageType<br />
            @{ Html.RenderAction("ForeignKeyDisplay", "Admin", new { fieldName = "PageTypeID", fieldValue = @Model != null ? @Model.PageTypeID : 0, primaryTable = "Pagetype", readOnly = false, data=Plenum.Business.PagetypeBO.GetInstance().GetAll() }); }
            <br />


            <br />
            <input type="submit" value="Save" />
        </form>

        @Scripts.Render("~/Scripts/jquery.js")
        @Scripts.Render("~/Scripts/jquery.validate.min.js")
        @Scripts.Render("~/Scripts/datepick/jquery.plugin.min.js")
        @Scripts.Render("~/Scripts/datepick/jquery.datepick.min.js")
        @Scripts.Render("~/Scripts/jquery.fancybox.js")

        <script>

            $(document).ready(function () {

                $('.fancybox').fancybox();

                //DatePick
                $(function () {


                });


                $("#editForm").validate({
                    rules: {

                    },
                    messages: {
                    }
                });

            });


        </script>

    </div>
</body>
</html>
