@using System.Web.Optimization
@using Plenum.Utilities.Security

@{
    string siteName = Plenum.WebSite.WebUtilities.Misc.GetAppSetting(Plenum.WebSite.WebUtilities.Const.AppSettings.SiteName);
    string path = HttpContext.Current.Request.Path;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @siteName
    </title>
    @Styles.Render("~/Content/css/style_screen.css")
    @Styles.Render("~/Content/css/style_print.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("~/Content/css/contextmenu/jquery.contextmenu.css")
    @Styles.Render("~/Scripts/jstree/themes/default/style.min.css")

    @RenderSection("styles", required: false)
</head>
<body>

    <div class="page-container-2">

        <!-- HEADER -->
        <!-- Flag navigations -->
        <div class="navflag-container">
            <div class="navflag">
                <ul>
                    @if (!SecurityManager.SecurityEnabled() || SecurityManager.SesionStarted())
                    {
                        <li>@SecurityManager.GetLoggedUser().Email</li>
                    }else{
                        <li>
                            &nbsp;
                        </li>    
                    }                    
                </ul>
            </div>
        </div>

        <!-- Navigation Level 1 -->
        <div class="nav1-container">
            @if (!SecurityManager.SecurityEnabled() || SecurityManager.SesionStarted())
            {
                <div class="nav1">
                    <ul>
                        <li><a target="_blank" href="/">view site</a></li>
                        <li>@Html.ActionLink("sign out","SignOut", "Security")</li>
                    </ul>
                </div>
            }
        </div>

        <!-- Sitename -->
        <div class="site-name">
            <p class="title"><a title="@siteName" href="index.html">
                <img src="/content/img/logo.jpg" /></a></p>
            <p class="subtitle">&nbsp;</p>
        </div>

        <!-- Header banner -->
        <div style="height: 80px; background-color: #003D69">&nbsp;</div>

        @if (!SecurityManager.SecurityEnabled() || SecurityManager.SesionStarted())
        {
            <!-- Navigation Level 2 -->
            <div class="nav2">
                <ul>
                    <li>
                        @if (path.ToLower().EndsWith("content") || path == "/admin")
                        {
                            <a href="/admin" class="selected">Content</a>    
                        }
                        else
                        {
                            <a href="/admin">Content</a>
                        }
                    </li>
                    <li>
                        @if (path.ToLower().EndsWith("commerce"))
                        {
                            <a href="/admin/admincommerce" class="selected">Commerce</a>    
                        }
                        else
                        {
                            <a href="/admin/admincommerce">Commerce</a>
                        }
                    </li>
                    <li>
                        @if (path.ToLower().EndsWith("workflows"))
                        {
                            <a href="/admin/adminworkflows" class="selected">Workflows</a>    
                        }
                        else
                        {
                            <a href="/admin/adminworkflows">Workflows</a>
                        }
                    </li>
                    <li>
                        @if (path.ToLower().EndsWith("administration"))
                        {
                            <a href="/admin/adminadministration" class="selected">Administration</a>    
                        }
                        else
                        {
                            <a href="/admin/adminadministration">Administration</a>
                        }

                    </li>
                </ul>
            </div>    
        }



        <!-- Buffer after header -->
        <div class="buffer"></div>

        <!-- NAVIGATION -->
        <!-- Navigation Level 3 -->
        <div class="nav31">

            <!-- Main title -->
            @RenderSection("left_body", required: false)

        </div>

        <!-- 	CONTENT -->
        <div class="content2">

            @RenderBody()

        </div>

        <!-- FOOTER -->
        <div class="footer">
            <p><b>Copyright &copy; 2014 @siteName | All Rights Reserved</b></p>
        </div>
    </div>

    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery.contextmenu.js")
    @Scripts.Render("~/Scripts/jstree/jstree.min.js")

    @RenderSection("scripts", required: false)

</body>
</html>
