@model List<Plenum.Models.ProviderDataModel>

@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css/style_screen.css")
    @Styles.Render("~/Content/css/style_print.css")
    @Styles.Render("~/Content/css/styles.css")
</head>
<body>
    <div>

        <form id="indexForm">
			
			Name<br />
            <input id="Name" name="Name" type="text" />
            <br />
            <input type="submit" value="Search" />
        </form>

        <table cellpadding="0" cellspacing="0">
            <tr>
                				<th> Name </th>	
				                <th>&nbsp;
                </th>
            </tr>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    					<td> @item.Name </td>	
					                    <td>
                        <a href="/admin/manageprovider/edit/@item.ID">edit</a>&nbsp;
						<a class="deleteItem" item="@item.ID" href="#">delete</a>
                    </td>
                </tr>                    
                }

            }

        </table>

		<input id="btnAdd" type="button" value="Add Provider" />

        @Scripts.Render("~/Scripts/jquery.js")        

        <script>

            $(document).ready(function () {

                $("#btnAdd").on("click", function(){
                    window.location.href = '/Admin/Manageprovider/Edit/';
                });

				 $(".deleteItem").on("click", function () {

                if (confirm("Are you sure you want to delete this Provider?")) {

                    var itemID = $(this).attr("item");

                    //Check email and password
                    $.ajax({
                        url: "/Admin/ManageProvider/Delete",
                        dataType: "json",
                        type: "POST",
                        data: { id: itemID },
                        success: function (data) {

                        },
                        error: function (a, b, c) {
                            alert("Error Deleting Provider");
                        }
                    })
                        .then(function (response) {

                            if (response.success) {
                                alert("Item Deleted");
								window.location.href = '/Admin/ManageProvider/';
                            }

                        });
                }

            });

            });
        </script>		

    </div>
</body>
</html>